html, body{
     background-color: cadetblue;
     background-size: cover;
     margin:30px;
     padding:0;
     font-size:20px;
}
.img-round{
 border-radius:50%;
}
 
.frame{
 margin:auto;
 width:max-content;
 background-image:linear-gradient(
to right, 
white,
#F68B1D,
pink,
red,
blue,
green,
yellow,
violet,
#00AAC3
);
animation:slide 5s linear infinite;
font-weight:bold;
font-size:larger;
text-decoration:underline;
border-radius:20px;
}
h1,h2,h3{
display:block;
margin-left: 30px;;
padding: 10px 10px;
color:yellow;
background-color:black;
width:max-content;
border-radius: 1px;
border: 4px solid rgb(241, 182, 6);

}
.decoreless{
 list-style-type:none;
}
.hobby{
background-color: darkseagreen;
border:none;
width:100%;
padding:0;
}
ol{
 font-size:30px;
}

.ul-course{ border:5px solid;
 list-style-type:none;
 background-color:green;
 width: max-content;
 padding:0;
 margin: 30px;    
}

.movies{border:10px solid brown;
 border-radius: 20px;
 background-image:url(https://media.istockphoto.com/id/1340577488/photo/girl-enjoying-watching-a-nice-movie-at-the-cinema.jpg?b=1&s=170667a&w=0&k=20&c=nTxetqtXrl-mlOgG6Fgtpgd_8JbogYRp5F2TXZNmkkE=);
 width:600px;
 height:300px;
 padding:0;
 margin:20px;
 font-size:20px;

}
.inside-movies{border:none;
list-style-type:lower-roman;
background-color:transparent;
width: max-content;
padding:0;
margin:0 40px;
color: rgb(149, 244, 6);
}
.text a{
font-size:20px;
font-weight:bold;
color:rgb(149, 244, 6);
}

.books{
border:10px solid black;
border-radius:20px;
list-style-type:none;
background-image: url(https://images.squarespace-cdn.com/content/v1/54d8f3b4e4b04def03ef0878/1556104982134-6LUAOFH4OSYW1XBAAKVA/library%2520books.jpg);
width:600px;
height:300px;
padding:0;
margin:20px; 
}
.outside-books {
border:none;
list-style-type:lower-roman;
background-color:transparent;
width: max-content;
padding:0;
margin:0 40px;
font-size:20px;
}
.pingpong{
 border:10px solid brown;
 border-radius: 20px;
 list-style-type:none;
 background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtLRIXMreTXoYg30su2Ra6ANLnZqSLPfbCRw&usqp=CAU);
 width:600px;
 height:300px;
 padding:0;
 margin:20px;
 font-size:20px;
}  
li a {
display:block;
padding:5px 20px;
text-decoration:none;
text-align:left;
}

li a:hover{
background-image:linear-gradient(
to right, 
white,
#F68B1D,
pink,
violet,
#00AAC3
);
animation:slide 2s infinite;
color:rgb(2, 10, 246);
font-weight:bold;
font-size:larger;
text-decoration:underline;
}
@keyframes slide {
to {
background-position:20vw;
}
}
* {
box-sizing: border-box;
}
.row{position:relative;
width:100%;
margin:0;padding:0;
display:inline;

}

.column-1{ 
border:2px solid green;
position: relative;
float:left;
width:auto;
padding:60px 70px;
background-color:cornflowerblue;
margin:0;

}
.column-2{ position:relative;
float:left;
width:max-content;
padding:10px 100px 10px 100px;
margin:0;
vertical-align:center;

} 

.text h4{
position:absolute;
float:right;
}
.subtitle{
margin:10px;
color:rgb(149, 244, 6); 
font-size:25px;
font-weight:bold;  
}
.tooltip {
position: relative;
display:inline-block;
}
.tooltip .tooltiptext {
position: absolute;
visibility: hidden;
width: 200px;
color: black;
text-align: center;
border-radius: 50%;
padding: 10px;
top:35px;
left:300px;
}

.tooltip:hover .tooltiptext {
visibility: visible;
background-image:linear-gradient(
to right,
white, 
#E7484F,
#F68B1D, 
#FCED00,
#009E4F,
#00AAC3,
#732982
);
}

.extra::first-line{
color:white;
font-variant:small-caps;
}
.descending{transform: rotate(180deg);

}
.descending li{transform:rotate(-180deg);}
.extra-1{
float: left;
line-height: 60%;
width: 1em;
font-size: 300%;
font-family:Arial, sans-serif;
}
.extra-2{
margin:0;
padding:0;
list-style-type: none;
}
.extra-3{
display:inline-block;
transform: scale(-1, 1);
color:blue;
}

/* I just put as many coloras bellow, just a  demonstration purpose.  */
.animate-charcter{
text-transform: uppercase;
background-image:linear-gradient(-200deg,
green 10%,
yellow 20%,
red 25%,
#231557 30%,
#44107a 40%,
red 50%,
white 70%,
blue 90%,
pink 100%);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 5s linear infinite;
display: inline-block;
font-size: 110px;
}

@keyframes textclip {
to {
background-position: 200% center;
}
}
.mail{
color:yellow;
background-color:black;
text-decoration:none;
padding:5px 20px 5px 20px;


}
footer{
    background-color: purple;
    color:white;
    text-align: left;
    margin:0;
    padding-bottom: 200px;
    padding-top: 10px;
    border-radius: 20px;
    }
/* footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    text-decoration: none;
    text-align: center;
    border: 1px solid yellow;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #912;
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    color: #FFF;
    background-color: #912;
}
footer a:hover strong {
    color: #912;
    background-color: #DDD; }  
*/
